[submodule "Lumen/External/Include/stb"]
	path = Lumen/External/Include/stb
	url = https://github.com/nothings/stb.git
[submodule "External/ImGui/imgui"]
	path = External/ImGui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
